<div id="page-content" class="page-width clearfix">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/product/">品牌与产品</a></li>
        <li>{{ label }}</li>
    </ul>

    <div class="product-content">
        <h2>{{ label }}</h2>
        <p class="line"></p>
        <br><br>

        <div class="content-body">
            {{ content.field_image }}
            {{ content.body }}
        </div>
    </div>
</div>