<div id="page-content" class="page-width clearfix">
    <div class="center-logo">

        <br><br>
        <div class="home-activity-content clearfix">

            {% block content %}
                {{ content }}
            {% endblock %}

        </div>
    </div>
</div>