<div class="page-width"><div id="banners"></div></div>

<script>
    var banners = '<a href="##" style="background:url(/{{ directory }}/images/banners/1.jpg) center no-repeat; background-size: cover;"></a>';
    banners +='<a href="##" style="background:url(/{{ directory }}/images/banners/2.jpg) center no-repeat; background-size: cover;"></a>';
    banners +='<a href="##" style="background:url(/{{ directory }}/images/banners/3.jpg) center no-repeat; background-size: cover;"></a>';
</script>

