<div id="page-content" class="page-width clearfix">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li>品牌与产品</li>
    </ul>
    <div style="font-size: 24px; padding-left: 15px; color:#666;">Soothers</div>
    <div class="product-banner">
        <img src="/{{ directory }}/images/product_banner.jpg" />
        <p>
            SOOTHERS润喉糖为您缓解日常喉咙的刺激。其含有成份包括桉树油、薄荷醇和维生素C；<br>
            口味众多，现有美味的黑加仑味，桉树薄荷醇味，蜂蜜柠檬味和软心柠檬味，以供选择。
        </p>
    </div>

    <p class="line"></p>
    <p class="line"></p>

    <div class="product-content">

        <div class="list-box">

            {{ rows }}

        </div>
    </div>
</div>